*, *::before, *::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.grid {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
}

.grid-col-1of2 {
    flex: 1 1 50%;
}

.grid-col-1of3 {
    flex: 1 1 33.33%;
}

.grid-col-1of4 {
    flex: 1 1 25%;
}

.grid-col-1of5 {
    flex: 1 1 20%;
}

.grid-col-3of5 {
    flex: 1 1 60%;
}

.grid-col-4of5 {
    flex: 1 1 80%;
}